<header class="header">

    <div class="container">

        <nav class="navbar">

            <a href="index.html" class="logo">
                <img src="images/horizontal-logo.png" alt="Uncaged Mind">
            </a>


            <ul class="nav-links">

                <li>
                    <a href="index.html">
                        Home
                    </a>
                </li>


                <li>
                    <a href="episodes.html">
                        Episodes
                    </a>
                </li>


                <li>
                    <a href="about.html">
                        About
                    </a>
                </li>


            </ul>
            <div class="nav-actions">

                <a href="recommend.html" class="secondary-btn">
                    NOMINATE A GUEST
                </a>


                <div class="hamburger">

                    <span></span>
                    <span></span>
                    <span></span>

                </div>

            </div>


        </nav>

    </div>



    <div class="mobile-menu">

        <ul>

            <li>
                <a href="index.html">
                    Home
                </a>
            </li>


            <li>
                <a href="episodes.html">
                    Episodes
                </a>
            </li>


            <li>
                <a href="about.html">
                    About
                </a>
            </li>


            <li>
                <a href="recommend.html" class="secondary-btn">
                    NOMINATE A GUEST
                </a>
            </li>


        </ul>

    </div>


</header>